---
---

<section class="ui-masthead ui-masthead--upcoming">
  <div class="page-wrap">
    {% assign next_up = site.tastings.last %}
    <div class="ui-panel">
      <div class="text">
        <h2 class="h3">Volgende proeverij</h2>
        <div class="ui-table">
          <div class="ui-table__row">
            <div class="ui-table__data">Datum: {{ next_up.date | date: "%d-%m-%Y" }}</div>
            <div class="ui-table__data">Locatie: {{ next_up.location }}</div>
          </div>
          <div class="ui-table__row">
            <div class="ui-table__data">Thema: {{ next_up.theme }}</div>
            <div class="ui-table__data">Spreker: {{ next_up.speaker }}</div>
          </div>
        </div>
        <p>{{ next_up.excerpt }}</p>
      </div>
      <a href="{{ site.baseurl }}{{ next_up.url }}" class="button button--cta ui-panel__cta">Aanmelden</a>
    </div>
  </div>
</section>

<section class="page-wrap page-section text">
  <h2 class="h2">De WSO op een rijtje</h2>
  <ul class="ui-usp">
    {% for usp in site.data.usps %}
      <li class="ui-usp__item">
        <div class="media">
          <div class="media__img">
            {% include img/icon-{{ usp.icon }}.svg %}
          </div>
          <div class="media__body">
            <h3>{{ usp.title }}</h3>
            <p>{{ usp.content }}</p>
          </div>
        </div>
      </li>
    {% endfor %}
  </ul>
  <div class="text-center">
    <a href="{{ site.baseurl }}over-wso/" class="button">Over WSO</a>
  </div>
</section>
