<footer class="site-footer">
  <div class="page-wrap">
  	<div class="row">
  		<div class="init-6 cols">
  			<ul class="footer-nav">
  				<li class="footer-nav__item">
  					<a class="footer-nav__link" href="{{ site.baseurl }}">Home</a>
  				</li>
  				<li class="footer-nav__item">
  					<a class="footer-nav__link" href="{{ site.baseurl }}/over-wso/">Over WSO</a>
  				</li>
  				<li class="footer-nav__item">
  					<a class="footer-nav__link" href="{{ site.baseurl }}/proeverijen/">Proeverijen</a>
  				</li>
  			</ul>
  		</div>
  		<div class="init-6 cols">
  			<ul class="text-right">
		      <li>
		        <a href="http://www.nix18.nl/" target="_blank">
		        	<img src="{{ site.baseurl }}/img/logo-nix18.png" width="100" alt="Nix: niet roken, niet drinken">
		        </a>
		      </li>
		    </ul>
  		</div>
  	</div>
  </div>
</footer>
