h1, h2, h3, h4, h5, h6,
blockquote, p,
ul, ol, dl
	margin: 0
	padding: 0

ul,
ol
	padding: 0
	list-style: none

html
	font-family: 'Georgia', sans-serif
	color: $coal

=heading
	font-family: 'Open Sans Condensed'
	font-size: 1em
	font-weight: 700
	text-transform: uppercase
	color: $black

h1, h2, h3, h4, h5, h6, .h
	+heading

.h1
	font-size: 2.4em

.h2
	font-size: 1.85em

.h3
	font-size: 1.5em

.h4
	font-size: 1.25em

.h5
	font-size: 1em

a
	color: inherit
	&:focus
		outline: 1px dotted

time
	white-space: nowrap
	word-wrap: normal

fieldset
	border: none
	padding: 0

legend
	display: none

label
	cursor: pointer

.text
	h1, h2, h3, h4, h5, h6, .h
		margin-bottom: .72rem
		line-height: 1.2

	+mq
		h1
			margin-bottom: 2.88rem

	p, ol ,ul
		line-height: 1.44
		margin-bottom: 1.44em

	ol, ul
		margin-left: 1.44em
		+mq
			margin-left: 0

	ol
		list-style-type: decimal

	ul
		list-style-type: square

	p, li
		max-width: 33em

p a
	color: $blue
	&:hover
		color: $coal

.text-right
	text-align: right

.text-left
	text-align: left

.text-center
	text-align: center

.site-title
	+heading
	line-height: 1.2
	display: inline-block
	text-decoration: none
	span
		display: block
	&:hover
		color: $navy

.ui-date
	display: block
	font-size: 1.2em
	margin-bottom: 2.88rem
	margin-top: -2.88rem

// Example markup:
// <nav class="breadcrumbs">
// 	<ol>
// 		<li>
// 			<a href="#">Home</a>
// 		</li>
// 		<li>
// 			<a href="#">Tastings</a>
// 		</li>
// 		<li>{{ page.title }}</li>
// 	</ol>
// </nav>
.breadcrumbs
	margin-bottom: 2.88rem
	opacity: 0.4
	transition: opacity 0.2s ease-out
	&:hover
		opacity: 1
	ol
		list-style: none
	li
		display: inline
		&:not(:last-child)
			&::after
				content: '\203A'
				display: inline
				margin-left: .5ch
				margin-right: .5ch
	a
		color: $blue
