---
title: Over de WSO
---

<div class="page-wrap page-section">
	<h1 class="h1">{{ page.title }}</h1>
	<p>Het doel van de WSO is het vermeerderen van kennis whisky. Dit doen we als vereniging door minimaal vier keer per jaar bijeenkomsten te organiseren waar we kennis opdoen van het distillateproces, smaakontwikkeling, proeftechnieken en andere whiskygerelateerde onderwerpen. Onstaan vanuit een kleine groep liefhebbers is de vereniging nu uitgegroeid tot een groep van ruim dertig leden uit Ommen en omstreken. Onze bijeenkomsten worden ook geregeld bezocht door mensen van buiten de vereniging, bijvoorbeeld als verjaardagscadeau of uit nieuwsgierigheid naar de rijke historie en toekomst van whisky. (INKORTEN)</p>
</div>

<div class="page-wrap page-section">
	<h2 class="h2">Waarom lid worden?</h2>
  <ul class="ui-usp">
    <li class="ui-usp__item">
      <div class="media">
        <div class="media__img">
          {% include img/icon-cal.svg %}
        </div>
        <div class="media__body">
          <h3>4 proeverijen per jaar</h3>
          <p>Met sprekers van binnen en buiten de vereniging.</p>
        </div>
      </div>
    </li>
    <li class="ui-usp__item">
      <div class="media">
        <div class="media__img">
          {% include img/icon-mic.svg %}
        </div>
        <div class="media__body">
          <h3>Professionele sprekers</h3>
          <p>Specialisten uit binnen&hyphen; en buitenland.</p>
        </div>
      </div>
    </li>
    <li class="ui-usp__item">
      <div class="media">
        <div class="media__img">
          {% include img/icon-barrel.svg %}
        </div>
        <div class="media__body">
          <h3>Leer alles over whisky</h3>
          <p>De omgeving, het bereidingsproces en de botteling.</p>
        </div>
      </div>
    </li>
    <li class="ui-usp__item">
      <div class="media">
        <div class="media__img">
          {% include img/icon-trophy.svg %}
        </div>
        <div class="media__body">
          <h3>Proef whisky&rsquo;s die je anders niet proeft!</h3>
          <p>Alle soorten whisky: exclusief maar ook betaalbaar.</p>
        </div>
      </div>
    </li>
    <li class="ui-usp__item">
      <div class="media">
        <div class="media__img">
          {% include img/icon-basket.svg %}
        </div>
        <div class="media__body">
          <h3>Korting bij aankopen</h3>
          <p>Tot 10% korting bij deelnemende slijterijen zoals Gall &amp; Gall.</p>
        </div>
      </div>
    </li>
    <li class="ui-usp__item">
      <div class="media">
        <div class="media__img">
          {% include img/icon-list.svg %}
        </div>
        <div class="media__body">
          <h3>Aantekeningenblad bij elke proeverij</h3>
          <p>Bewaar je notities zodat je altijd weet wat je favoriet was!</p>
        </div>
      </div>
    </li>
  </ul>
</div>
